{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>

        <label>
            Which animal do you want facts on?

            <select name="animal">
                {% for animal_name in all_animals %}
                <option value="{{ animal_name }}">{{ animal_name }}</option>
                {% endfor %}
            </select>
        </label>

        <input type="submit" value="Get Fact!">
    </fieldset>
</form>

<section id="form_results">
    <p>
        Here is your animal fact:
    </p>
    <p>
        <em>Your animal fact goes here.</em>
    </p>
</section>
{% endif %}
{% endblock %}