{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>

        <label>
            Which animal do you want facts on?

            <!-- TODO: Use a for loop to show one option element for each 
                animal. -->
            <select name="animal">
                {% for animal in animal_to_fact %}
                    <option value="{{ animal }}">{{ animal }}</option>
                {% endfor %}
            </select>
        </label>

        <input type="submit" value="Get Fact!">
    </fieldset>
</form>

<!-- TODO: If an animal was chosen, show the section below with the appropriate 
    animal fact. -->

<section id="form_results">
    <p>
        Here is your animal fact:
    </p>
    <p>
        {% if selected_animal_fact == None %}
            <em>Please select an animal to get a fact.</em>
        {% else %}
            <em>{{ selected_animal_fact }}</em>
        {% endif %}
    </p>
</section>

{% endblock %}